<!-- Header -->
<%= require('../components/header.ejs')() %>

    <section>
        <header class="major">
            <h1>
                Weddings and Events
            </h1>
        </header>
    </section>

    <!-- Footer -->
    <%= require('../components/footer.ejs')() %>