<!-- Header -->
<%= require('../components/header.ejs')() %>

    <section>
        <header class="major">
            <h1>Joy</h1>
        </header>
        <div class="box alt">
            <div class="row gtr-50 gtr-uniform">
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="romance.html" class="image"><img src="../images/display-pictures/joy/love-romance.jpg" alt="" /></a>
                                    <h3>
                                    	Love and Romance
                                    </h3>
                                    <p>Round or heart shaped flower bouquet to present your love <br>
                                        <sub>(Minimum 25 roses)</sub></p>
                                    <ul class="actions">
                                        <li><a href="romance.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="giftbox.html" class="image"><img src="../images/display-pictures/joy/boxes.jpg" alt="" /></a>
                                    <h3>
                                        Gift Boxes
                                    </h3>
                                    <p>Perfect for surprises</p>
                                    <ul class="actions">
                                        <li><a href="giftbox.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="bouquets.html" class="image"><img src="../images/display-pictures/joy/bouquets.jpg"  alt="" /></a>
                                    <h3>
                                        Seasonal Bouquets
                                    </h3>
                                    <p>Personalized design with fancy wrapping for all occasions: Birthday, Anniversary, New born baby, Congratulations, Get well soon, Graduation,I'm sorry, ect.</p>
                                    <ul class="actions">
                                        <li><a href="buoquets.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="grandopening.html" class="image"><img src="../images/display-pictures/joy/grandopening.jpg" alt="" /></a>
                                    <h3>
                                        Grand Opening
                                    </h3>
                                    <p>Amazing floral arrangements for cerebration</p>
                                    <ul class="actions">
                                        <li><a href="grandopening.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="vases.html" class="image"><img src="../images/display-pictures/joy/vases.jpg" alt="" /></a>
                                    <h3>
                                        Vases
                                    </h3>
                                    <p>Decorative centerpieces for dining room, meeting room or reception</p>
                                    <ul class="actions">
                                        <li><a href="vases.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="eternal.html" class="image"><img src="../images/display-pictures/joy/eternal.jpg" alt="" /></a>
                                    <h3>
                                        Eternal Flowers
                                    </h3>
                                    <p>Flowers that last forever as long as love</p>
                                    <ul class="actions">
                                        <li><a href="eternal.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <%= require('../components/footer.ejs')() %>