<!-- Header -->
<%= require('../components/header.ejs')() %>

    <section>
        <header class="major">
            <h1>Peace</h1>
        </header>
        <div class="box alt">
            <div class="row gtr-50 gtr-uniform">
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="spray.html" class="image"><img src="../images/display-pictures/peace/spray.jpg" alt="" /></a>
                                    <h3>
                                    	Standing Spray
                                    </h3>
                                    <p>Flowers spray on a standing tripod</p>
                                    <ul class="actions">
                                        <li><a href="spray.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="wreath.html" class="image"><img src="../images/display-pictures/peace/wreath.jpg" alt="" /></a>
                                    <h3>
                                    	Wreath
                                    </h3>
                                    <p>Flowers wreath on a standing tripod</p>
                                    <ul class="actions">
                                        <li><a href="wreath.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <!-- Break -->
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="baskets.html" class="image"><img src="../images/display-pictures/peace/baskets.jpg" alt="" /></a>
                                    <h3>
                                    	Baskets
                                    </h3>
                                    <p>Triangle shaped flower arrangement in a container</p>
                                    <ul class="actions">
                                        <li><a href="baskets.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="crosses.html" class="image"><img src="../images/display-pictures/peace/crosses.jpg" alt="" /></a>
                                    <h3>
                                    	Hearts/Crosses
                                    </h3>
                                    <p>Heart shaped and cross flower arrangement on a standing tripod</p>
                                    <ul class="actions">
                                        <li><a href="crosses.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>
                <article class="col-4 col-6-small">
                    <span class="image fit">
                                    <a href="casket.html" class="image"><img src="../images/display-pictures/peace/casket.jpg" alt="" /></a>
                                    <h3>
                                    	Casket Flowers
                                    </h3>
                                    <p>Flower arrangement to put on coffin</p>
                                    <ul class="actions">
                                        <li><a href="casket.html" class="button">More</a></li>
                                    </ul>
                                </span>
                </article>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <%= require('../components/footer.ejs')() %>