<section id="footer">
    <p class="copyright">&copy; Product images are for illustrative purposes only and may differ from the actual product. Due to differences in monitors, colours of products may also appear different to those shown on the site. The images on site are copyright protected,
        but may be used on the condition that the user credits the source of the picture.
    </p>
</section>

</div>
</div>

<!-- Sidebar -->
<%= require('../components/sidebar.ejs')() %>

    </div>

    </body>

    </html>