<!DOCTYPE HTML>
<html>

<head>
    <title>The Flowers Paradise</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/slideshow.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <header id="header">
                    <div class="logo">
                        <a href="index.html"><img src="../images/Logo.png" style="width: 100%;"></a>
                    </div>
                    <div class="slogan">
                        <h3><a href="index.html">The Flowers Paradise <br> <sub>Deliver Peace and Joy</sub></a></h3>
                    </div>


                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="../images/QRcode.JPG" class="icon brands fa-weixin example-image-link"><span
                                        class="label">WeChat</span></a></li>
                        <li><a href="callto:(647)-987-4186" class="icon solid fa-phone"><span
                                        class="label">Phone</span></a></li>
                    </ul>
                </header>