<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>

            <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="index.html#promotions">Promotions</a></li>
                <li>
                    <span class="opener">Products</span>
                    <ul>
                        <li><a href="joy.html">Joy</a></li>
                        <li><a href="peace.html">Peace</a></li>
                    </ul>
                </li>
                <li><a href="events.html">Weddings and Events</a></li>
            </ul>
        </nav>


        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Add us on WeChat for your first order!</p>
            <ul class="contact">
                <div style="text-align: center;"><img src="../images/QRcode.JPG" style="width: 100%;">
                    <div>
                        <span class="icon brands fa-weixin">&nbsp;WeChat QRcode</span>
                    </div>
                </div>
                <li class="icon solid fa-envelope"><a href="mailto:">information@untitled.tld</a></li>
                <li class="icon solid fa-phone">Sherry: <a href="callto:(647)-987-4186">(647)-987-4186</a>
                </li>
                <li class="icon solid fa-location-arrow"><a href="https://www.google.com/maps/place/160+Gibson+Dr+%235,+Markham,+ON+L3R+8B5/@43.8230934,-79.3334737,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4d380eb7d8423:0x3ca4dcd21ddee500!8m2!3d43.8230934!4d-79.331285">160
                            Gibson Drive, Unit
                            #5<br />
                            Markham, ON L3R 3K1</a> <br>
                    <b>(By Appointment Only)</b></li>
            </ul>
        </section>



    </div>
</div>